@model appgamestore.Models.Ventas

@{
    ViewData["Title"] = "Formulario Games";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <form asp-controller="Ventas" asp-action="Create">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" placeholder="Ingrese nombre del juego"/>

        <label asp-for="Categoria" class="control-label"></label>
        <input asp-for="Categoria" class="form-control" placeholder="Ingrese la categoria ESRB" />
          
        

        <label asp-for="Precio" class="control-label"></label>
        <input asp-for="Precio" class="form-control" placeholder="Ingrese el precio en soles" />

        <label asp-for="Descuento" class="control-label"></label>
        <input asp-for="Descuento" class="form-control" placeholder="Ingrese el descuento -%" />
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-info">Registrar</button> 
        </div>              
    </form>
    <h1>@ViewData["Message"]</h1>






    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>